th {
	text-transform: capitalize;
}
td.qty, th.qty {
	width: 95px
}
button.delete {
	float: right;
}
.stats {
	padding: 9px 14px;
	margin-bottom: 14px;
	margin-top: 14px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}
.stats h3 {
	margin-top: 0;
}
.stats .sub-group {
	border: 1px solid #e1e1e8;
	padding: 9px 14px;
	border-radius: 4px;
}