/* Bootstrap overrides */
.form-group {
	margin-bottom: 10px;
}
.form-control[type="number"] {
	padding: 6px 6px 6px 12px;
}

/* Styles */
body {
	margin-bottom: 30px;
}
th {
	text-transform: capitalize;
}
td.qty, th.qty {
	width: 95px
}
.add-btn {
	float: right;
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 20px;
}
button.delete {
	float: right;
}
.stats {
	padding-top: 10px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}
.stats h3 {
	margin-top: 0;
}
.stats .sub-group {
	border-top: 1px solid #e1e1e8;
	padding-top: 10px;
}
.stats label {
	vertical-align: middle;
	width: 33%;
}
.stats input {
	display: inline-block;
	width: 75px;
}