<!doctype html>
<html lang="en" ng-app="zymology">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Zymology Redux</title>
	<link rel="stylesheet" href="/styles/bootstrap.min.css">
	<link rel="stylesheet" href="/styles/zymology-redux.css">
	<script src="/scripts/zymology-redux.js"></script>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<a class="navbar-brand" href="/">Zymology Redux</a>
		</div>
	</nav>
	<div ng-controller="recipeCtrl">
		<div class="container">
			<h2>{{ recipe.name }}</h2>	
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="stats">
						<div class="row">
							<div class="col-xs-4">
								<h3>Vital Statistics</h3>
								<p>Brewed by: {{ recipe.brewer }}</p>
								<p>Batch Size: {{ recipe.size }} gallons</p>
							</div>
							<div class="col-md-4">
								<p>Total Fermentables: {{ totalFermentables() }} pounds</p>
								<div class="row">
									<div class="col-xs-4">Efficiency: <input type="tel" class="form-control" value="{{ recipe.efficiency }}" ng-model="recipe.efficiency"></div>
									<div class="col-xs-4">
										<p>OG: {{ og().toFixed(3) }}<p>
										<p>FG: {{ fg().toFixed(3) }}</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">Total Hops: {{ totalHops() }} ounces</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<h3>Fermentables</h3>
			<div class="table-responsive">
				<table class="table">
					<tr>
						<th class="qty">Qty</th>
						<th>Name</th>
						<th colspan="2">Manufacturer</th>
					</tr>
					<tr ng-repeat="fermentable in recipe.fermentables | orderBy:'-quantity'">
						<td class="qty"><input type="tel" class="form-control" value="{{ fermentable.quantity }}" ng-model="fermentable.quantity"></td>
						<td>{{ fermentable.name }}</td>
						<td>{{ fermentable.manufacturer }}</td>
						<td><button type="button" class="btn btn-default delete" ng-click="delete('fermentables', $index)"><span class="glyphicon glyphicon-trash"></span></button></td>
					</tr>
				</table>
			</div>
		</div>

		<div class="container">
			<h3>Hops</h3>
			<div class="table-responsive">
				<table class="table">
					<tr>
						<th class="qty">Time</th>
						<th class="qty">Qty</th>
						<th>Name</th>
						<th colspan="2">Origin</th>
					</tr>
					<tr ng-repeat="hop in recipe.hops | orderBy:'-time'">
						<td class="qty"><input type="tel" class="form-control" value="{{ hop.time }}" ng-model="hop.time"></td>
						<td class="qty"><input type="tel" class="form-control" value="{{ hop.quantity }}" ng-model="hop.quantity"></td>
						<td>{{ hop.name }}</td>
						<td>{{ hop.origin }}</td>
						<td><button type="button" class="btn btn-default delete" ng-click="delete('hops', $index)"><span class="glyphicon glyphicon-trash"></span></button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<script src="//localhost:35729/livereload.js"></script>
</body>
</html>